.vs
bin/
Bin/
obj/
Obj/

Library/src/Library.Web/obj/
Library/src/Library.Web/bin/
Library/src/Library.SharedKernel/obj/
Library/src/Library.SharedKernel/bin/
Library/src/Library.Application/obj/
Library/src/Library.Application/bin/
Library/src/Library.Core/obj/
Library/src/Library.Core/bin/
Library/src/Library.Infrastructure/obj/
Library/src/Library.Infrastructure/bin/
 